# Core
python-dotenv
pydantic
pydantic-settings

# API
fastapi
uvicorn
httpx

# PDF
pymupdf

# AI
langchain
langchain-core
langchain-google-genai
langchain-groq

# UI
streamlit

# Image Processing
Pillow
opencv-python

# Validation
email-validator

# Utils
numpy
python-dateutil
